---
layout: index
---

<style>@font-face{
  font-family:'fu-reg';
  src:url("../assets/FreeUniversal-Regular.ttf");
}

@font-face{
  font-family:'fu-bold';
  src:url("../assets/FreeUniversal-Bold.ttf");
}
strong, b {
    font-weight: normal;
    font-family: 'fu-bold';
}body{  font-family:'fu-reg', sans-serif;font-size:16px;line-height:1.1em;}ul{margin-top:0;}/p{}.jumbotron { text-align: center; padding: 2rem 1rem; padding-bottom: 0; margin-bottom: 2rem; border-radius: 0; background-color: #fff; position: relative; border-bottom: 1px solid #e0e1e3; }

.jumbotron:before { position: absolute; z-index: -1; width: 99%; bottom: 0; height: 10px; left: .5%; border-radius: 100px / 2px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); content: ''; }

.container-fluid { -webkit-columns: 6 150px; -moz-columns: 6 150px; columns: 6 150px; }

.columned-list li { -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }

.people-list div { -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }</style>

<div class="container-fluid columned-list">
  
  {{content}}
  
</div>
