<html>
  <head>
    <style>article{padding:20px;max-width:512px;}body{font-family:sans-serif;color:#eeeeee;background:#242424;line-height: 1.3333;}h1,h2,h3,h4,h5,h6{color:#98afd4;border-bottom:.0625rem dotted #606060;font-family:helvetica neue, sans-serif;font-weight:500;margin:margin: 2rem 0 1rem;}h4{color:#75a7f2;border-bottom:none;}a{color:#ffb200;}a:visited{#ffb200;}ul{margin: 1rem 0;padding-inline-start: 1.5rem;}</style>
  </head>
  <body>
    <article>
      {{content}}
    </article>
  </body>
</html>
