<html>
  <head>
    <style>article{padding:10px;max-width:512px;}body{font-family:sans-serif;color:#c3c3c3;background:#242424;line-height: 1.3333;}h1,h2,h3,h4,h5,h6{color:#98afd4;border-bottom:.0625rem dotted #606060;font-family:helvetica, sans-serif;font-weight:400;margin:margin: 2rem 0 1rem;}h4{color:#75a7f2;border-bottom:none;}a{color:#f8ae00;}a:visited{color: #f8ae00;}ul{margin: 1rem 0;padding-inline-start: 1.5rem;}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article>
      {{content}}
    </article>
  </body>
</html>
