<html><head><style>p {
    margin: 0.5em 0.5em 1em 1em;
}blockquote{background-color: #c8c2ba;
    padding: 0.5em;}p {
    margin: 0.5em 0.5em 1em 1em;
}</style>
 <title>{{page.title}}</title>
 <meta name="viewport" content="width=device-width">
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<style>body{background: #D8D2CB;
    font-family: sans-serif;
  letter-spacing: -.1px;}</style>
<body>
<article>
<h1>
  {{ page.title}}<br>
<font size="-1">
  © {{page.year}} <a href="./">d.mkgll.com</a>
   <a href="../about.html">&lt;d@mkgll.ch&gt;</a>
 </font>
</h1>
<hr>
  
  {{ content}}
    

    </article>
<hr><p>
</p><footer class="priv">
<p>
privacy notice: datagubbe.se uses neither cookies nor javascript. | <a href="/atom.xml">rss feed</a><br>
© carl svensson<br>
</p>
</footer></body></html>
