<html><head>
 <title>{{page.title}}</title>
 <meta name="viewport" content="width=device-width">
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<style>body{
    font-family: sans-serif;
  letter-spacing: -.1px;}</style>
    </head>
<body>
<article>
<h1>
  {{ page.title}}<br>
<font size="-1">
 {{page.year}} <a href="./">d.mkgll.com</a>
 </font>
</h1>
<hr>
  
  {{ content}}
    

    </article>
<hr><p>
</p><footer class="priv">
<p>
  Have a comment on one of my posts? Start a discussion in
  <a href="https://lists.sr.ht/~sircmpwn/public-inbox">my public inbox</a>
  by sending an email to
  <a href="mailto:~sircmpwn/public-inbox@lists.sr.ht">~sircmpwn/public-inbox@lists.sr.ht</a>
  [<a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list etiquette</a>]
  
</p>
</footer></body></html>
